<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stats</title>
    <link rel="stylesheet" href="{{url_for('static',filename='roster.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='stats.css')}}">
</head>
<body>
    <div class="container">
        <h1>Class Statistics - Advanced Programing</h1>
        {#summary Statistics using filters#}
        <div class="stat-card">
            <h3>Enrollment Summary:</h3>
            <p>
                <span class="stat-number">{{total}}</span>
                Total students enrolled
            </p>
        </div>
        {#Gradelevel distribution#}
        <h2>Garade level Distribution</h2>
        <divc class="grid">
            <div class="stat-card">
            <h3>Seniors(Grade 12)</h3>
            <p class="stat-number">{{seniors|length}}</p>
            <p class="precentage">
                {{seniors|length/total * 100}}
            </p>
        </div>
        <div class="stat-card">
            <h3>Juniros(Grade 12)</h3>
            <p class="stat-number">{{Juniors|length}}</p>
            <p class="precentage">
                {{Juniors|length/total * 100}}
            </p>
        </div>
        <div class="stat-card">
            <h3>Sophmores(Grade 12)</h3>
            <p class="stat-number">{{Sophmores|length}}</p>
            <p class="precentage">
                {{sophmores|length/total * 100}}
            </p>
        </div>
    </div>
    </div>
    
</body>
</html>